extends layout

block content
  h1= title
  button(id='queryAll') Query all
  p(id='text_area')
  form(id="addProductForm")
    input(type="text", name = "Reference", placeholder="Reference")
    input(type="text", name ="Type", placeholder="Type", size="15")
    input(type="text", name ="Brand", placeholder="Brand")
    input(type="text", name ="Model", placeholder="Model")
    input(type="text", name ="Volume/Lumens", placeholder="Volume/Lumens", size="7")
    input(type="text", name ="Watts", placeholder="Watts", size="5")
    br
    input(type="submit", value="Add product")
  p(id='add_area')
  form(id="modifyProductForm")
    input(type="text", name = "Reference", placeholder="Reference")
    input(type="text", name ="Brand", placeholder="Brand")
    input(type="text", name ="Model", placeholder="Model")
    input(type="text", name ="Volume/Lumens", placeholder="Volume/Lumens", size="7")
    input(type="text", name ="Watts", placeholder="Watts", size="5")
    br
    input(type="submit", value="Modify product")
  p(id='modify_area')
  form(id="changeStatusForm")
    select(name="status")
      option(value="accepted") Accepted
      option(value="pending") Pending
      option(value="rejected") Rejected
    input(type="text", name ="Reference", placeholder="Reference")
    input(type="text", name ="Market", placeholder="Market")
    br
    input(type="submit", value="Change status")
  p(id='status_area')
  form(id="searchProductForm")
    input(type="text", name = "Reference", placeholder="Reference")
    input(type="submit", value="Search product")
  p(id='search_area')

block scripts
  script(src ="/javascripts/request.js")



